// Specific CSS for your home-page
  html{
    -webkit-font-smoothing: antialiased;

  }

  body{
    background-color:#F6F7F9;
  }


  h1{
    font-size:42px;
    text-transform: uppercase;
    letter-spacing: .2em;
    color: white;
  }

  h2{
    font-size:28px;
    text-transform: uppercase;
    letter-spacing: .2em;
    color: white;
  }

  h3{
    font-size:28px;
  }


  p{
    font-family: $body-font;
    color: white;
    font-size: 23px;
  }

  i{
    color: white;
  }


  a{
    color: white;
    &:hover{
      text-decoration: none;
    }
  }

// input{
//   border-bottom: 3px solid #da0062;
// }


.pink-bar-top {
    height: 44px;
    background-color: #d70f64;
    color: #fff;
}

.banner{
  text-align: center;
  background-size: cover;
  text-align: center;
  opacity: 0.8;
  height:100vh;
  background-position: 54%;
  background-size: cover;
  text-align: center;
}


.tagline{
  padding: 14em 14em;

}


// Service section

.container_service{
  margin: 73px;
}

.service_box{
  height: 320px;
  text-align: center;
  padding:2em;
  span{
    font-style: italic;
    font-size: 13px;
  }
}

.service4{

  background-position-x: 50%;
  background-position-y: 68%;
  padding-top: 4em;
}

.service2{
  background-position-x: 81%;
  background-position-y: 25%;
  padding-top: 4em;

}

.service3{

  background-position-x: 55%;
  background-position-y: 7%;
  padding-top: 4em;


}

.service1{

  background-position-x: 52%;
  background-position-y: 63%;
  padding-top: 4em;
}


.service5{

  background-position-x: 52%;
  background-position-y: 36%;
  padding-top: 4em;
}
.subscribe{
    background: #fff;
    padding: 20px 20px 30px 20px;
    margin: 60px;
    text-align: center;
  h2{
    color: black;
  }
}
.subscribe input{
    height: 42px;
    width: 300px;
    padding-left: 15px;
    font-size: 14px;
  }

button {
    cursor: pointer;
    font-size: 14px;
    color: #fff;
    border: none;
    padding: 10px 25px;
    margin-left: 20px;
    background-color:#e03980;
  }
// End


@media only screen and (max-width: 600px) {

    h1{
      font-size: 35px
    }

    h2{
      font-size: 28px;
    }

    .tagline {
            padding: 14em 0em;
    }

    .subscribe{
      margin: 0px;

    }

    .container_service{
      margin: 0px;
    }

}
