<div class="container_faq">
  <div class="col-xs-12 col-md-4">
    <ul class="list-group help-group">
      <div class="faq-list list-group nav nav-tabs">
        <a href="#tab1" class="list-group-item active" role="tab" data-toggle="tab">Frequently Asked Questions</a>
       <!--  <a href="#tab2" class="list-group-item" role="tab" data-toggle="tab"><i class="mdi mdi-account"></i> Emergency Pill</a>
        <a href="#tab3" class="list-group-item" role="tab" data-toggle="tab"><i class="mdi mdi-account-settings"></i> My account</a> -->
      </div>
    </ul>
  </div>
  <div class="col-xs-12 col-md-8">
    <div class="tab-content panels-faq">
      <div class="tab-pane active" id="tab1">
        <div class="panel-group" id="help-accordion-1">
          <div class="panel panel-default panel-help">
            <a href="#opret-produkt" data-toggle="collapse" data-parent="#help-accordion-1">
              <div class="panel-heading">
                <h2>What is Nomadelle?</h2>
              </div>
            </a>
            <div id="opret-produkt" class="collapse in">
              <div class="panel-body">
                <p>In 2017 one of our co-founders had a really tough experience while trying to get OBGYN care in Berlin. She was not in the German system and her situation (early risk pregnancy) was not considered an emergency by the hospitals or travel insurance companies. It took her 2 weeks to find a private walk in service who would take her and finally have a scan.

                From that moment she  started talking with other women who mentioned similar problems while trying to get women's health or family planning care options while on the road.

                Nomadelle was born to give women access to walk in ob/gyn, fertility and family planning services all over the world. Our society is global, our women's health services are too.
              </p>
              </div>
            </div>
          </div>
          <div class="panel panel-default panel-help">
            <a href="#rediger-produkt" data-toggle="collapse" data-parent="#help-accordion-1">
              <div class="panel-heading">
                <h2>How does it work?</h2>
              </div>
            </a>
            <div id="rediger-produkt" class="collapse">
              <div class="panel-body">
                <p>Nomadelle is creating a global database of OBGYN, fertility and family planning services. At this moment you can access to our emergency pill and regular contraceptives database and understand where can you buy them. We are developing our walk in practices guide so you can in a very near future book appointment online directly with Nomadelle and access to travel insurances designed focusing in  women needs.</p>
              </div>
            </div>
          </div>
          <div class="panel panel-default panel-help">
            <a href="#ret-pris" data-toggle="collapse" data-parent="#help-accordion-1">
              <div class="panel-heading">
                <h2>The country I am interested in is not listed</h2>
              </div>
            </a>
            <div id="ret-pris" class="collapse">
              <div class="panel-body">
                <p>Nomadelle is still working in its database and we appreciate any feedback. If you need information from a country and is not listed in our guide please send us  an email at info@nomadelle.com and we will update it as soon as possible.</p>
              </div>
            </div>
          </div>
          <div class="panel panel-default panel-help">
            <a href="#slet-produkt" data-toggle="collapse" data-parent="#help-accordion-1">
              <div class="panel-heading">
                <h2>When will be the new features available?</h2>
              </div>
            </a>
            <div id="slet-produkt" class="collapse">
              <div class="panel-body">
                <p>We are expanding our database everyday  and our walk in practice guide is expected to launch before the end of the summer. </p>
              </div>
            </div>
          </div>
          <div class="panel panel-default panel-help">
            <a href="#opret-kampagne" data-toggle="collapse" data-parent="#help-accordion-1">
              <div class="panel-heading">
                <h2>Can I collaborate with Nomadelle?</h2>
              </div>
            </a>
            <div id="opret-kampagne" class="collapse">
              <div class="panel-body">
                <p>If you are passionate about women’s health and about providing women the tools they need to take care of their body and sexuality anywhere in the world we would love to have you on board! Please email us at info@nomadelle.com and we will schedule a time to talk!</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane" id="tab2">
        <div class="panel-group" id="help-accordion-2">
          <div class="panel panel-default panel-help">
            <a href="#help-three" data-toggle="collapse" data-parent="#help-accordion-2">
              <div class="panel-heading">
                <h2>Lorem ipsum?</h2>
              </div>
            </a>
    <!--         <div id="help-three" class="collapse in">
              <div class="panel-body">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus nesciunt ut officiis accusantium quisquam minima praesentium, beatae fugit illo nobis fugiat adipisci quia distinctio repellat culpa saepe, optio aperiam est!</p>
                <p><strong>Example: </strong>Facere, id excepturi iusto aliquid beatae delectus nemo enim, ad saepe nam et.</p>
              </div>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
