<header class="banner" style="background-image: linear-gradient(-225deg, rgba(192,192,170,0.4) 0%, rgba(28,239,255,0.4) 50%), url('<%= image_path 'bg1.jpg' %>');">

  <div class="tagline">
    <%= image_tag 'logo.png', size: "256x120" %>
    <h1>Find the right pill</h1>
    <h2>Travel protected</h2>
    <div class="service">
    </div>
  </div>

<!--   <div class="social_button">
    <a class="btn btn-icon btn-facebook" href="#"><i class="fa fa-facebook"></i><span>Facebook</span></a>
    <a class="btn btn-icon btn-twitter" href="#"><i class="fa fa-twitter"></i><span>Twitter</span></a>
  </div> -->
<!-- </div> -->



</header>


<div class="container_home">
  <div class="row">
    <div class="col-xs-12 col-sm-6 service1">
      <%= link_to pills_path(@pills)  do %>
      <h2>Emergency Pill</h2>
    </div>
    <% end  %>
    <div class="col-xs-12 col-sm-6 service2">
      <h2>Women Pill</h2>
      <p><span style="font-weight: bold; ">(coming soon)</span></p>
      </div>
    <div class="w-100"></div>
    <div class="col-xs-12 col-sm-6 service3"><h2>OBGYN</h2><p><span style="font-weight: bold; ">(coming soon)</span></p></div>
    <div class="col-xs-12 col-sm-6 service4"><h2>OBGYN</h2><<p><span style="font-weight: bold; ">(coming soon)</span></p></div>
  </div>
</div>
