.card-list{
  width: 100%;
}

.card-body{
  margin-top: 1em;
  width: 100%;
  border: 1px solid grey;
  border-radius: 5px;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.35);
}


.card-text{
  color:black;
}


.blur-card{
  background-color: #1cefff66;
  opacity: 0.8;
}

.cliquable{
  cursor: pointer;
}


